.about {
  width: 100%;
  background: white;
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  /* border-bottom: px solid var(--main-first-color); */
  box-shadow: 0 0 10px black;
  background-color: var(--main-first-color);
}

#about-info-container {
  position: absolute;
  width: 800px;
  height: 800px;
  display: grid;
  justify-items: center;
  align-items: center;
}


#about-info-text-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(225, 223, 223);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 4px solid black;
  box-shadow: 2px 5px 20px 5px black;
  margin: 0;
  padding: 0;
}
.text-fade-in {
  animation: fadeIn 1s;
}
.text-fade-out {
  animation: fadeOut 1s;
}

#about-info-text {
  width: 360px;
  height: 360px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
#about-info-text::-webkit-scrollbar {
  display: none;
}


.about-bubble-rotator {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 800px;
}
#about-bubble-rotator-quarter-rotation {
  animation: aboutAnimationCw 1s ease-in-out;
}
#about-bubble-rotator-half-rotation {
  animation: aboutAnimation2Cw 1s ease-in-out;
}
#about-bubble-rotator-quarter-rotation-ccw {
  animation: aboutAnimationCcw 1s ease-in-out;
}

.about-bubble {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;  
  margin: 0;
  padding: 0;
  background-color: rgb(121, 121, 121);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 2px solid black;
  box-shadow: 2px 5px 20px 5px black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.about-bubble h3 {
  pointer-events: none;
  padding: 4px;
  color: red;
  background-color: rgba(179, 168, 168, 0.8);
  font-size: 1.7rem;
  font-weight: 700;
  /* font-weight: bold; */
  -webkit-text-stroke: 0.7px black;
  text-shadow: 0 0 4px black;
  visibility: hidden;
}
.about-bubble:hover {
  background-color: rgb(196, 196, 196);
}
.about-bubble:hover h3 {
  visibility: visible;
}

.about-bubble-rotation-quarter-ccw {
  animation: aboutAnimationCcw 1s ease-in-out;
}
.about-bubble-rotation-half-ccw {
  animation: aboutAnimation2Ccw 1s ease-in-out;
}
.about-bubble-rotation-quarter {
  animation: aboutAnimationCw 1s ease-in-out;
}

#bubble1 {
  background-image: url("../public/pix/mission_wh.png");
}
#bubble1-active {
  background-image: url("../public/pix/mission_gr.png");
}
#bubble2 {
  background-image: url("../public/pix/team_wh.png");
}
#bubble2-active {
  background-image: url("../public/pix/team_gr.png");
}
#bubble3 {
  background-image: url("../public/pix/values_wh.png");
}
#bubble3-active {
  background-image: url("../public/pix/values_gr.png");
}
#bubble4 {
  background-image: url("../public/pix/vision_wh.png");
}
#bubble4-active {
  background-image: url("../public/pix/vision_gr.png");
}

@keyframes aboutAnimationCw {
  to {
      transform: rotate(0.25turn);
  }
}
@keyframes aboutAnimation2Cw {
  to {
      transform: rotate(0.5turn);
  }
}
@keyframes aboutAnimationCcw {
  to {
      transform: rotate(-90deg);
  }
}
@keyframes aboutAnimation2Ccw {
  to {
      transform: rotate(-180deg);
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


/* Donate */

#donate-root {
  position: fixed;
  z-index: 1;
}

.donate-div {
  position: absolute;
  z-index: 50;
  transition: 1s linear;
  width: 1100px;
  height: 503px;
}

.donate-div-donation1 {
  left: -1000px;
  top: calc(50vh - 250px);
}
.donate-div-donation2 {
  left: calc(50vw - 500px);
  top: calc(50vh - 250px);
}
.donate-div-donation3 {
  left: calc(100vw + 100px);
  top: calc(50vh - 250px);
}
.donate-div-donation4 {
  left: calc(100vw);
  top: calc(50vh - 250px);
}
.donate-div-donation5 {
  left: calc(50vw - 500px);
  top: calc(50vh - 250px);
}
.donate-div-donation6 {
  left: -1130px;
  top: calc(50vh - 250px);
}

.donate-options-container {
  display: inline-block;
  border: 4px solid var(--main-third-color);
  box-shadow: 0px 0px 10px black;
  width: 1000px;
  height: 500px;
  background: white;
  z-index: 5;
}

.donate-button-root {
  display: inline-block;
  position: absolute;
  left: 1000;
  width: 100px;
  height: 500px;
}

.donate-button-right {
  position: absolute;
  top: 200px;
  left: 30px;
}
.donate-button-left {
  position: absolute;
  top: 200px;
  left: -1130px;
}

.donate-div p {
  text-align: center;
  font-weight: bolder;
}

#donate-button {
  font-weight: bold;
  color: red;
  text-align: center;
  border: 2px solid var(--main-third-color);
  box-shadow: 0px 0px 10px black;
  background-size: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.donate-button-right {
  background-image: url("../public/pix/biker_right.png");
}
.donate-button-left {
  background-image: url("../public/pix/biker_left.png");
}
.donate-button-animation-right {
  animation: bikerAnimationRight 1s alternate;
}
.donate-button-animation-left {
  animation: bikerAnimationLeft 1s alternate;
}

@keyframes donateAnimation {
  0% {
      transform: rotate(10deg);
  }
  100% {
      transform: rotate(20deg);
  }
}
@keyframes bikerAnimationRight {
  to {
    transform: rotate(-30deg);
  }
}
@keyframes bikerAnimationLeft {
  to {
    transform: rotate(30deg);
  }
}

/* Donate */

.projects {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: rgb(141, 141, 141);
  box-shadow: 0 0 10px black;
  color: var(--main-fourth-color);

}

.all-projects-container {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80%;
  display: grid;
  justify-content: end;
  grid-template-columns: 1fr;
  margin: 0;
  border: 2px solid black;
  z-index: 100;
}

.project-container {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  /* display: flex;
  align-self: center; */

}

.test {
  width: 200px;
  height: 200px;
  background-image: url("../public/pix/projects/carfree.jpg");
}