section {
  background: var(--main-fourth-color);
  height: 100vh;
}

.about {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#about-info-container {
  position: absolute;
  width: 800px;
  height: 800px;
  display: grid;
  justify-items: center;
  align-items: center;
}


#about-info-text-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-third-color);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 4px solid var(--main-first-color);
  box-shadow: 2px 5px 20px 5px black;
  margin: 0;
  padding: 0;
}
.text-fade-in {
  animation: fadeIn 1s;
}
.text-fade-out {
  animation: fadeOut 1s;
}

#about-info-text {
  width: 360px;
  height: 360px;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
#about-info-text::-webkit-scrollbar {
  display: none;
}


.about-bubble-rotator {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 800px;
}
#about-bubble-rotator-quarter-rotation {
  animation: aboutAnimationCw 1s ease-in-out;
}
#about-bubble-rotator-half-rotation {
  animation: aboutAnimation2Cw 1s ease-in-out;
}
#about-bubble-rotator-quarter-rotation-ccw {
  animation: aboutAnimationCcw 1s ease-in-out;
}

.about-bubble {
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  background: var(--main-second-color);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  /* z-index: 4; */
  border: 2px solid black;
  box-shadow: 2px 5px 20px 5px black;
}
.about-bubble-rotation-quarter-ccw {
  animation: aboutAnimationCcw 1s ease-in-out;
}
.about-bubble-rotation-half-ccw {
  animation: aboutAnimation2Ccw 1s ease-in-out;
}
.about-bubble-rotation-quarter {
  animation: aboutAnimationCw 1s ease-in-out;
}

#bubble1 {
  background-image: url("../public/pix/mission_neu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
#bubble2 {
  background-image: url("../public/pix/team.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
#bubble3 {
  background-image: url("../public/pix/values.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
#bubble4 {
  background-image: url("../public/pix/vision.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

@keyframes aboutAnimationCw {
  to {
      transform: rotate(0.25turn);
  }
}
@keyframes aboutAnimation2Cw {
  to {
      transform: rotate(0.5turn);
  }
}
@keyframes aboutAnimationCcw {
  to {
      transform: rotate(-90deg);
  }
}
@keyframes aboutAnimation2Ccw {
  to {
      transform: rotate(-180deg);
  }
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}


/* Donate */

#donate-root {
  position: fixed;
  /* height: 100vh;
  width: 100vw; */
  z-index: 1;
}

.donate-div {
  position: absolute;
  /* display: grid;  */
  /* grid-template-columns: auto auto; */
  z-index: 50;
  /* animation: donateAnimation 0.5s infinite; */
  transition: 1s linear;
  width: 1100px;
  height: 503px;
}

.donate-div-donation1 {
  left: -1000px;
  top: calc(50vh - 250px);
}
.donate-div-donation2 {
  left: calc(50vw - 500px);
  top: calc(50vh - 250px);
}
.donate-div-donation3 {
  left: calc(100vw + 100px);
  top: calc(50vh - 250px);
}
.donate-div-donation4 {
  left: calc(100vw);
  top: calc(50vh - 250px);
}
.donate-div-donation5 {
  left: calc(50vw - 500px);
  top: calc(50vh - 250px);
}
.donate-div-donation6 {
  left: -1130px;
  top: calc(50vh - 250px);
}

.donate-options-container {
  display: inline-block;
  border: 4px solid black;
  box-shadow: 0px 0px 10px black;
  width: 1000px;
  height: 500px;
  background: white;
  z-index: 5;
  /* left: 0;
  top: 0; */
}
/* .donate-options-hidden {
  display: none
} */

/* .donation-button-root {
  display: inline-block;
  height: 500px;
  width: 100px;
  /* display: grid;
  align-items: center; 
} */

.donate-button-root {
  display: inline-block;
  position: absolute;
  left: 1000;
  width: 100px;
  height: 500px;
}

.donate-button-right {
  position: absolute;
  top: 200px;
  left: 30px;
}
.donate-button-left {
  position: absolute;
  top: 200px;
  left: -1130px;
}

.donate-div p {
  text-align: center;
  font-weight: bolder;
}

#donate-button {
  font-weight: bold;
  color: red;
  text-align: center;
  border: 4px solid black;
  box-shadow: 0px 0px 10px black;
  background-size: 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.donate-button-right {
  background-image: url("../public/pix/biker.png");
}
.donate-button-left {
  background-image: url("../public/pix/biker2.png");
}
.donate-button-animation-right {
  animation: bikerAnimationRight 1s alternate;
}
.donate-button-animation-left {
  animation: bikerAnimationLeft 1s alternate;
}

@keyframes donateAnimation {
  0% {
      transform: rotate(10deg);
  }
  100% {
      transform: rotate(20deg);
  }
}
@keyframes bikerAnimationRight {
  to {
    transform: rotate(-30deg);
  }
}
@keyframes bikerAnimationLeft {
  to {
    transform: rotate(30deg);
  }
}