section {
  height: 100vh;
}

.about {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#rotating-info-container {
  position: absolute;
  width: 800px;
  height: 800px;
  display: grid;
  justify-items: center;
  align-items: center;
  
}


#rotating-info-textfield {
  position: absolute;
  background-color: #085bad;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
}

#rotating-info-rotator {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 800px;
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  z-index: 5;
  animation: aboutAnimation 1s ease-in-out infinite;
}

@keyframes aboutAnimation {
  to {
      transform: rotate(0.25turn);
  }
}

.rotating-info-bubble-container {
  margin: 0;
  padding: 0;
  height: calc(800px / 3);
  width: 800px;
  text-justify: center;
  /* display: flex;
  flex-direction:column; */
}

#ribc1,
#ribc3 {
  text-align: center;
}

#ribc2 {
  display: flex;
  justify-content: space-between;
}


.rotating-info-bubble {
  display: inline-block;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #83b7ea;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #18191a;
  color: white;
  height: 50px;
  margin: 0;
}




/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
