.landing {
  background-color: var(--main-first-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  background-attachment: scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  height: 100vh;
}
.landing .slide-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.landing .text-container {
  position: absolute;
  text-align: left;
  width: 40%;
  height: min-content;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: left;
  margin: 2rem;
}
.landing .one {
  bottom: 60%;
  right: -15%;
  transform: translate(-50%, -50%);
  text-align: left;
}
.landing .two {
  flex-direction: column;
  left: 0%;
  bottom: 10%;
  width: 35% !important;
}
.two h1 {
  color: var(--main-fourth-color) !important;
}
.landing .three {
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  width: 15% !important;
  color: var(--main-fourth-color) !important;
  text-align: center !important;
}
.three h1 {
  color: var(--main-fourth-color) !important;
}
.landing h1 {
  margin: 0;
  padding: 0;
  color: var(--main-third-color);
  font-size: 4rem;
  font-variant: small-caps;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.landing h3 {
  color: var(--main-fourth-color);
  font-size: 2rem;
  margin: 0;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}
.landing p {
  color: var(--main-fourth-color)
}
.swiper {
  width: 100vw;
  height: 100vh;
}
.swiper-slide {
  text-align: center;
  background: var(--main-second-color);

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;;
  height: 100%;
  object-fit: cover;
  position: center;
}
.swiper-pagination-bullet-active {
  background-color: var(--main-third-color);
}
.swiper-button-prev, .swiper-button-next {
  color: var(--main-fourth-color);
}
.swiper-pagination-bullet {
  border-radius: 0%;
  width: 2rem;
  height: 0.25rem;
}