.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.landing .slide-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.landing .text-container {
  position: absolute;
  text-align: left;
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  padding-inline: 3rem;
}
.landing .one {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing h1 {
  margin: 0;
  padding: 0;
  color: var(--main-third-color);
  font-size: 4rem;
  font-variant: small-caps;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  text-align: center;
}
.landing p {
  color: var(--main-fourth-color);
  font-size: 1.5rem;
  margin: 0;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.swiper {
  width: 100vw;
  height: 100vh;
}
.swiper-slide {
  text-align: center;
  background: var(--main-first-color);

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper-slide img {
  display: block;
  width: 100%;;
  height: 100%;
  object-fit: cover;
  position: center;
}
.swiper-pagination-bullet-active {
  background-color: var(--main-third-color);
}
.swiper-button-prev, .swiper-button-next {
  color: var(--main-fourth-color);
}
.swiper-pagination-bullet {
  border-radius: 0%;
  width: 2rem;
  height: 0.25rem;
}