.container {
    /* margin: 1rem; */
    text-align: center;
  }
  .site-title h1 {
    margin: 0;
    font-size: 2.0rem;
    font-variant: small-caps;
    color: var(--main-third-color);
  }
  .nav {
    background-color: #4a39338a;
    backdrop-filter: blur(3px);
    color: var(--main-fourth-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
  }
  .nav h1 {
    margin-left: 1rem;
  }
  
  .nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1rem;
  }
  .nav li.active {
    
  }
  .nav li:hover {
    color: var(--main-third-color);
  }
  .nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding: 0.25rem; */
  }
  .nav button {
    background-color: #ffffff00;
    border: none;
    /* width: 54px; */
    /* height: 54px; */
    font-size: 1rem;
    color: var(--main-fourth-color);
  }
  .nav button:hover {
    color: var(--main-third-color);
  }
  .nav button:active {
  
  }
  .logo {
    width: 40px;
  }